@{
    ViewBag.Title = "Home";
}
<br /><br /><br />
<h1>uPark</h1>
<hr />
<div class="row">
  <div class="col-lg-6">
      <h3>História</h3>
      <p>O projeto uPark começou na faculdade Universidade Positivo, quando nós tivemos problemas em encontrar estacionamentos vagos perto do nosso local de estudo.</p>
  </div>
    <div class="col-lg-6">
    </div>
</div>


