@model IEnumerable<uPark.Models.Usuario>

@{
    ViewBag.Title = "Home";
}

<br /><br /><br />


<h3>História</h3>
<div class="row">
    <div class="col-lg-4">
        <p>O app uPark surgiu com a dificuldade em encontrar vagas em estacionamentos em grandes cidades.</p>

    </div>
</div>

